
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
{% load staticfiles %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户详情</title>
    <link href="{% static 'css/tail.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script>
        function change() {
            var height01 = $(window).height();
            $(".top").css('height', height01 - 35+"px");
        }
    </script>
</head>

<body style="border-radius: 8px" onload="change()">
<!--<div class="title"><h2>通知详情</h2></div>-->
<form id="form_demo" >
<div class="top">
    <div>
        <div class="top_out">
            <table class="table" >
                <tbody>
                <tr>
                    <td>学生姓名：<i class="i_start"></i></td>
                    <td colspan = "2" style="text-align: left"><input type="text" class="long_text" name="student_name" value="{{info.2}}"></td>
                    <td>学号：<i class="i_start"></i></td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" name="student_no" value="{{info.1}}"></td>
                    <td>密码：<i class="i_start"></i></td>
                    <td colspan = "3" style="text-align: left"><input type="password" class="long_text" name="password" value="*********"></td>
                </tr>
                <tr>
                    <td>所属班级：</td>
                    <td colspan = "2" style="text-align: left"><select name="classid">
                        <option value="0">--可选择班级--</option>
                            {% block classes %}
                                {% for item in classList %}
                                    <option value="{{item.0}}"{% if item.0 == info.4 %} selected="selected"{% endif %}>{{item.1}}</option>
                                {% endfor %}
                            {% endblock %}
                        </select></td>
                    <td>联系方式：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" name="tel" value="{{info.5}}"></td>
                    <td>性别：</td>
                    <td colspan = "2" style="text-align: left"><select name="sex">
                    		<option>-请选择性别-</option>
                            <option value="1"{% if info.3 == 1 %} selected="selected"{% endif %}>男</option>
                            <option value="2"{% if info.3 == 2 %} selected="selected"{% endif %}>女</option>
                    </select></td>
                </tr>
                <tr>
                    <td style="line-height: 240px">备注：</td>
                    <td colspan = "10" style="text-align: left"><textarea  name="notes" style="width: 100%;height: 240px">{{info.7}}</textarea></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bot_btn">
        <button class="btn btn1"><a href="student.html" target="right">返回</a></button>
    </div>
</div>
</form>
</body>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script >
    $.validator.setDefaults({
        submitHandler: function() {
            alert("修改成功");
        }
    });
    $().ready(function() {
        $("#form_demo").validate();
    });
</script>
<script src="{% static 'js/date/js/laydate.js' %}"></script>

</html>
